@charset "UTF-8";
#header{
    background-color:#333;
    color:white;
    padding: 20px;
    text-align:center;
}

/* Layout */
.fixed{
    width:960px;
    margin:20px auto;
    padding:20px;
    background-color: #f0f0f0;
    text-align:center;
}

/* Fluid */
.fluid{
    width: 90%;
    background-color: #d0e8f2;
    padding: 20px;
    margin 20px auto;
}
.elastic{
        width:60em;
        background-color:#e7f2d9;
        padding:2em;
        margin:20px auto;
        font-size:1em;
}

.responsive{
        width: 100%;
        background-color:#fcecc9;
        max-width: 1000px;
        padding:20px;
        margin:20-px auto;
}

.float-box{
         float:left;
        width:45%
        margin: 2.5%;
        padding:20px;
        background-color:#c2f0c2;
}

.clearfix::after{
content:"";
    display:block;
    clear:both;
}

.block-example{
display:block;
    margin:20px 0;
    background-color: #ffc2c2;
    padding:10px;
    
}

.outline-box{
    border: 10px solid #333;
    outline: 40px dashed red;
    margin: 20px;
    padding: 10px;
}

